<footer class="bd-footer py-5 bg-dark">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-lg-3 d-md-block collapse">
                <!-- Alignment with the content -->
            </div>
            <div class="col-lg-9 ms-sm-auto px-md-4">
                <a class="d-inline-flex align-items-center mb-2 link-light text-decoration-none"
                   href="/"
                   aria-label="Algorithmique Appliquée">
                    <span class="fs-5">Algorithmique Appliquée</span>
                </a>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">BTS SIO SISR - 1ière année - Session 2021 - 2022</li>
                    <li class="mb-2">Code source sous licence <a href="https://github.com/loic-yvonnet/algo-appliquee/blob/master/LICENSE" target="_blank" rel="license noopener" class="link-light">MIT</a>, et cours sous licence <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="license noopener" class="link-light">CC BY-NC 4.0</a>.</li>
                    <li class="mb-2">
                        <address>
                            <span>Contact :</span>
                            <a href="mailto:loic@yvo.solutions" class="link-light">loic@yvo.solutions</a>
                        </address>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>