<nav id="sidebarMenu" class="col-lg-3 d-md-block bg-light sidebar collapse">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
                <span data-feather="home"></span>
              Accueil
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/trame/">
                <span data-feather="file"></span>
              Trame du cours
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/00-avant-propos/">
                <span data-feather="file-text"></span>
              Avant-propos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/references/">
                <span data-feather="shopping-cart"></span>
              Références
            </a>
        </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Cours</span>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="/01-intro-programmation/">
                <span data-feather="file-text"></span>
              Introduction
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/02-bases-python/">
                <span data-feather="file-text"></span>
              Bases du Python
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/03-programmes-simples/">
                <span data-feather="file-text"></span>
              Programmes simples
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/04-fonctions/">
                <span data-feather="file-text"></span>
              Fonctions
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/05-structure-donnees/">
                <span data-feather="file-text"></span>
              Structures de données
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/06-problemes-classiques/">
                <span data-feather="file-text"></span>
              Problèmes classiques
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/07-complexite/">
                <span data-feather="file-text"></span>
              Complexité
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/08-tests/">
                <span data-feather="file-text"></span>
              Tests
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/09-recherche-et-tri/">
                <span data-feather="file-text"></span>
              Recherche et tri
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/10-python-avance/">
                <span data-feather="file-text"></span>
              Python avancé
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/11-graphes/">
                <span data-feather="file-text"></span>
              Graphes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/12-conclusion/">
                <span data-feather="file-text"></span>
              Conclusion
            </a>
        </li>
    </ul>
</nav>