{% set url_prefix = ("/algo-appliquee" if "/algo-appliquee" in page.url else "") %}
{% set url_root = url_prefix + "/" %}
{% set is_root_url = "false" %}
{% if page.url == url_prefix %}
    {% set is_root_url = "true" %}
{% endif %}
{% if page.url == url_root %}
    {% set is_root_url = "true" %}
{% endif %}