{% set url_prefix = "/algo-appliquee" %}

{% set is_root_url = "false" %}
{% if page.url == "" %}
    {% set is_root_url = "true" %}
{% endif %}
{% if page.url == "/" %}
    {% set is_root_url = "true" %}
{% endif %}