body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/**
 * Sidebar
 */

.sidebar {
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .1);
    font-size: 0.625rem;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/**
 * Navbar
 */

.navbar-brand {
    font-size: .75rem;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

/**
 * iFrame
 */
iframe {
    width: 100%;
    height: 60vh;
    border: 1px solid black;
}

/** 
 * Hack for embedded KaTeX: it appears twice for some obscure reason.
 */
.katex-html {
    display: none;
}